header#topo{
    background-image: url('./img/fundo-pc.jpg');
    color: #fff;
}

#topo h1{
    text-align: center;
}

#topo p{
    text-align: justify;
}

#topo a{
    text-decoration: none;
    color: #fff;
}
